In [56]:
#importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [57]:
#Target web page
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [59]:
#Connection to web page and converting response into python string
response = requests.get(url).text

Create a beautiful soup object to parse the HTML document.

This step helps one to access the elements of the web site by using XPath expressions

In [60]:
soup = BeautifulSoup(response, 'xml')
table=soup.find('table')

In [61]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

Finding all the items of  interest with .find_all()
This command allows you to specify and find all the elements you are searching for.

In [62]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [63]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [64]:
#Data Cleaning
#Remove rows where Borough is not assigned
df=df[df.Borough!='Not assigned']

Grouping different neighbors and seperating them with a comma.

In [67]:
res_df=df.groupby("Postalcode").agg(lambda x:','.join(set(x)))

In [68]:
#Assigning an empty neighborhood the next one
res_df.loc[res_df['Neighborhood']=="Not assigned",'Neighborhood']=res_df.loc[temp_df['Neighborhood']=="Not assigned",'Borough']

In [69]:
res_df.head()

                Borough                            Neighborhood
Postalcode
M1B         Scarborough                          Malvern, Rouge
M1C         Scarborough  Rouge Hill, Port Union, Highland Creek
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [70]:
res_df.shape

(103, 2)